/*chromatogram*/
QWidget#ChromatogramWidget {
}

/*parameters*/
QWidget#ParametersWidget {
}

QLabel#ParametersTitle {
}

QWidget#ParametersGroupWidget {
}

/*resolution*/
QLabel#ResolutionText {
}

QLabel#ResolutionValue {
}

QWidget#ResolutionWidget {
}

QPushButton#MaximiseResolution {
}

ResolutionMap {
}

/*slider*/
QLabel#SliderTitle {
}

QWidget#SliderCheckboxes {
}

QWidget#SliderWidget {
}