[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pyqt5 = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
apex = "python main.py"
test = "pytest -vv"