[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
fastapi = "*"
python-decouple = "*"
sqlalchemy = "*"
pydantic = "*"
hypercorn = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pytest = "*"
pytest-mock = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
server = "hypercorn app.main:app --reload --bind 0.0.0.0:8080"
apex = "python main.py"
test = "pytest -vv"
